# ---Maven---
**/target/
hackhub/target/

# ---H2 locale---
hackhub/data/*
!hackhub/data/.gitkeep
*.mv.db
*.trace.db

# ---IDE---
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# ---OS---
.DS_Store
Thumbs.db

# ---logs---
*.log